.dashboard-cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:22px;

margin-bottom:35px;

}

.card{

background:white;

padding:28px;

border-radius:22px;

box-shadow:0 10px 35px rgba(0,0,0,.06);

transition:.35s;

border:1px solid #EEF2F7;

}

.card:hover{

transform:translateY(-8px);

box-shadow:0 18px 40px rgba(37,99,235,.15);

}

.card-icon{

font-size:34px;

margin-bottom:18px;

}

.card h4{

color:#64748B;

font-size:15px;

margin-bottom:10px;

}

.card h2{

font-size:26px;

color:#0F172A;

font-weight:700;

}

.blue{color:#2563EB;}

.green{color:#10B981;}

.orange{color:#F59E0B;}

.purple{color:#7C3AED;}

.teal{color:#14B8A6;}

.red{color:#EF4444;}

@media(max-width:900px){

.dashboard-cards{

grid-template-columns:1fr;

}

}